/* CSS Document */
.btn3{ border:1px solid #0099FF; background:#FFFFCC; color:#0000FF;}
.inpt1{border:1px solid #CCCCCC; text-align:left;}
*{text-align:center;font-size:12px;}
.notice{color:#FF0000; text-align:center;}
.btn2{ border:1px solid #0066FF; background:#FFFFCC; color:#0033FF; }